@model List<DataLayer.Entityes.OrderShop>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @*<h1>@Model.HelloMessage</h1>*@


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
       
        <div>

            <a asp-action="CreateCustom" asp-controller="Home">CreateCustom</a><br />
            <a asp-action="ListCustomers" asp-controller="Home">ListCustomers</a><br />
            <a asp-action="EditCustom" asp-controller="Home">EditCustom</a><br />
            <a asp-action="DeleteCust" asp-controller="Home">DeleteCust</a><br />
        </div>
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
